.player_container {
  width: 70%;
  height: 95vh;
  padding: 1rem;
  border: 1px solid rgb(141, 141, 141);
  border-radius: 10px;
  color: rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 2px 3px;
  border > * {
    padding: 1rem 0;
    color: rgb(21, 0, 246);
  }

  .title {
    font-size: 32px;
    color: black;
  }
  .navigation {
    width: 100%;

    .navigation_wrapper {
      min-width: 100%;
      background-color: rgba(250, 138, 1, 0.457);
      height: 2vh;
      border-radius: 30px;
      cursor: pointer;

      .seek_bar {
        width: 0;
        height: 100%;
        background-color: rgb(250, 137, 0);
        border-radius: 30px;
      }
      .current_time {
        float: left;
      }
      .total_time {
        float: right;
      }
    }
  }
  .controls {
    font-size: inherit;
    align-items: center;

    .btn_action {
      font-size: 2rem;
      margin: 0 1rem;
      cursor: pointer;
      color: rgb(39, 2, 247);

      &:hover {
        color: rgb(250, 137, 0);
      }
    }

    .pp {
      font-size: 4rem;
    }
  }
  .coverPic {
    width: 55%;
    display: flex;
    .pic {
      width: 100%;
    }
  }
}
@media only screen and (max-device-width: 480px) {
  input:focus {
  }
  .player_container {
    width: 100vw;
    height: 90vh;
    padding: 1rem;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 10px;
    color: rgb(218, 218, 218);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px 3px;

    > * {
      padding: 1rem 0;
      color: rgb(21, 0, 246);
    }

    .title {
      padding-top: 2rem;
      color: rgb(250, 137, 0);
      font-size: 32px;
    }
    .navigation {
      position: relative;
      display: inline-flex;
      width: 100%;

      .navigation_wrapper {
        min-width: 100%;
        background-color: rgba(250, 137, 0, 0.586);
        height: 0.5vh;
        border-radius: 30px;
        cursor: pointer;

        .seek_bar {
          width: 0;
          height: 100%;
          background-color: rgb(250, 137, 0);
          border-radius: 30px;
        }
      }
    }
    .controls {
      font-size: inherit;
      align-items: center;

      .btn_action {
        font-size: 2rem;
        margin: 0 1rem;
        cursor: pointer;
        color: rgb(2, 64, 250);

        &:hover {
          color: rgb(250, 137, 0);
        }
      }

      .pp {
        font-size: 4rem;
      }
    }
    .coverPic {
      display: flex;
      width: 100%;
      .pic {
        width: 100%;
      }
    }
  }
}
